{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        [
            "react-css-modules",
            {
                "generateScopedName": "[local]-[hash:base64:5]",
                "handleMissingStyleName": "throw"
            }
        ]
    ]
}